<!-- views/index.ejs -->
<%- include('partials/header') %>

<div class="row">
    <div class="col-lg-6 mb-4">
        <form method="POST" action="/">
            <div class="mb-3">
                <label for="starting_bankroll" class="form-label">Starting Bankroll:</label>
                <input type="number" class="form-control" id="starting_bankroll" name="starting_bankroll" required>
            </div>
            <div class="mb-3">
                <label for="base_bet" class="form-label">Base Bet:</label>
                <input type="number" class="form-control" id="base_bet" name="base_bet" required>
            </div>
            <div class="mb-3">
                <label for="profit_target" class="form-label">Profit Target:</label>
                <input type="number" class="form-control" id="profit_target" name="profit_target" required>
            </div>
            <button type="submit" class="btn btn-primary">Start Session</button>
        </form>
    </div>
</div>

<%- include('partials/footer') %>